.App {
  width: 100vw;
  background-color: #f2f5f5;
}

.container {
  width: 90vw;
  margin: 0% auto;
  box-sizing: border-box;
}

.header {
  box-sizing: border-box;
  padding: 10px 10px;
  background-color: white;

  p {
    font-size: 20px;
    color: gray;
  }

  .loading {
    text-align: center;
  }

  .logo-bar {
    background-color: white;
    height: 80px;
    box-sizing: border-box;
    border-bottom: 1px solid #e9ebeb;
    // margin-bottom: 10px;
    // padding: 0px 0px 10px;
    display: flex;
    align-items: center;
  }

  img {
    object-fit: cover;
    height: 10vh;
    box-sizing: border-box;
  }

  .top-content {
    background-color: white;

    .desc {
      height: 220px;
      display: flex;
      .left-col {
        width: 70%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px 10px;
        margin-right: 20px;

        p {
          line-height: 28px;
        }
      }

      .right-col {
        width: 30%;
        height: 100%;
        object-fit: cover;
        padding: 10px 10px;
        box-sizing: border-box;

        img {
          border-radius: 10px;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
